<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.global.mapper.AdminProductMapper">
    <resultMap id="productMap" type="com.hyundai.domain.admin.dto.AdminProductDTO">
        <id property="productId" column="product_id"/>
        <result property="storeId" column="store_id"/>
        <result property="productName" column="product_name"/>
        <result property="productSubName" column="product_sub_name"/>
        <result property="price" column="price"/>
        <result property="productType" column="product_type"/>
        <result property="stock" column="stock"/>
        <result property="discountRate" column="discount_rate"/>
        <result property="productDetail" column="product_detail" jdbcType="CLOB" javaType="java.lang.String"/>
        <result property="amount" column="amount"/>
        <result property="calorie" column="calorie"/>
        <result property="storage" column="storage"/>
        <result property="thumbnailImageUrl" column="thumbnail_image_url"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="storeName" column="store_name"/>
    </resultMap>

    <resultMap id="themeMap" type="com.hyundai.domain.admin.dto.AdminThemeDTO">
        <id property="themeId" column="theme_id"/>
        <result property="themeName" column="theme_name"/>
        <result property="themeDescription" column="theme_description"/>
    </resultMap>

    <resultMap id="ingredientMap" type="com.hyundai.domain.admin.dto.AdminProductIngredientDTO">
        <id property="ingredientId" column="ingredient_id"/>
        <result property="ingredientName" column="ingredient_name"/>
    </resultMap>

    <resultMap id="productDetailMap" type="com.hyundai.domain.admin.dto.AdminProductDTO" extends="productMap">
        <association property="themeList" resultMap="themeMap"/>
        <association property="ingredientList" resultMap="ingredientMap"/>
    </resultMap>

    <resultMap id="getOrderTotalSales" type="com.hyundai.domain.admin.dto.AdminTotalSalesDTO">
        <id property="dayOfWeek" column="DayOfWeek"/>
        <result property="totalQuantity" column="TotalQuantity"/>
        <result property="totalSales" column="TotalSales"/>
    </resultMap>

    <resultMap id="tempMap" type="hashmap"/>

    <select id="getAllProduct" resultMap="productMap">
        select p.product_id,
               p.store_id,
               p.product_name,
               p.product_sub_name,
               p.price,
               p.product_type,
               p.stock,
               p.discount_rate,
               p.product_detail,
               p.amount,
               p.calorie,
               p.storage,
               p.thumbnail_image_url,
               p.created_at,
               p.modified_at,
            s.store_name
        from tbl_product p
        join tbl_store s on p.store_id = s.store_id
        where p.deleted_at is null
    </select>

    <select id="getProductByPage" statementType="CALLABLE">
        {call GET_PRODUCT_LIST(
                #{pageNum, mode=IN, jdbcType=INTEGER},
                #{pageAmount, mode=IN, jdbcType=INTEGER},
                #{standard, mode=IN, jdbcType=VARCHAR},
                #{sort, mode=IN, jdbcType=VARCHAR},
                #{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=productMap}
              )}
    </select>

    <select id="test" resultMap="productMap">
        select *
        from tbl_product
    </select>

    <select id="getProductDetail" resultMap="productDetailMap" statementType="CALLABLE">
        {call GET_PRODUCT_THEME_AND_INGREDIENT(
                #{productId, mode=IN, jdbcType=INTEGER},
                #{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=productDetailMap}
              )}
    </select>

    <update id="deleteProduct">
        update
            tbl_product
        set deleted_at = sysdate
        WHERE product_id = #{productId}
    </update>

    <insert id="addTheme">
        insert into tbl_theme
            (theme_name, theme_description)
        values (#{themeName}, #{themeDescription})
    </insert>

    <delete id="deleteTheme">
        DELETE
        FROM tbl_theme
        WHERE theme_id = #{themeId}
    </delete>

    <update id="modifyTheme">
        update
            tbl_theme
        set theme_name        = #{themeName},
            theme_description = #{themeDescription}
    </update>

    <select id="getOrderTotalSales" resultMap="getOrderTotalSales">
    <![CDATA[
        WITH DateRange AS (
            SELECT
                TRUNC(SYSDATE, 'IW') AS StartOfWeek,
                TRUNC(SYSDATE, 'IW') + LEVEL - 1 AS Day
            FROM dual
            CONNECT BY LEVEL <= 7
        ),
             SalesData AS (
                 SELECT
                     TRUNC(o.ORDER_DATE) AS OrderDate,
                     SUM(op.ORDER_PRODUCT_COUNT) AS TotalQuantity,
                     SUM(op.ORDER_PRODUCT_PRICE * op.ORDER_PRODUCT_COUNT) AS TotalSales
                 FROM TBL_ORDERS o
                          JOIN TBL_ORDERPRODUCT op ON o.ORDER_ID = op.ORDER_ID
                 WHERE TRUNC(o.ORDER_DATE) BETWEEN (SELECT MIN(StartOfWeek) FROM DateRange) AND (SELECT MAX(Day) FROM DateRange)
                 GROUP BY TRUNC(o.ORDER_DATE)
             ),
             DayOfWeekData AS (
                 SELECT
                     DR.Day,
                     TO_CHAR(DR.Day, 'DY') AS DayOfWeek,
                     COALESCE(SD.TotalQuantity, 0) AS TotalQuantity,
                     COALESCE(SD.TotalSales, 0) AS TotalSales
                 FROM DateRange DR
                          LEFT JOIN SalesData SD ON DR.Day = SD.OrderDate
             )
        SELECT
            DayOfWeek,
            TotalQuantity,
            TotalSales
        FROM DayOfWeekData
        ORDER BY Day
        ]]>
</select>



</mapper>