<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.global.mapper.AdminMemberMapper">
    <resultMap id="memberMap" type="com.hyundai.domain.admin.dto.AdminMemberDTO">
        <id property="memberId" column="member_id"/>
        <result property="memberEmail" column="member_email"/>
        <result property="memberName" column="member_name"/>
        <result property="memberNickname" column="member_nickname"/>
        <result property="memberPhone" column="member_phone"/>
        <result property="memberGender" column="member_gender"/>
        <result property="memberRole" column="member_role"/>
        <result property="memberBirth" column="member_birth"/>
        <result property="createdDate" column="created_at"/>
        <result property="modifiedDate" column="modified_at"/>
        <result property="infoAddr" column="info_addr"/>
        <result property="infoZipcode" column="info_zipcode"/>
    </resultMap>

    <resultMap id="managerMap" type="com.hyundai.domain.admin.dto.AdminManagerDTO">
        <id property="storeId" column="store_id"/>
        <result property="storeName" column="store_name"/>
        <result property="storeTel" column="store_tel"/>
        <result property="memberId" column="member_id"/>
        <result property="memberName" column="member_name"/>
        <result property="memberPhone" column="member_phone"/>
        <result property="memberEmail" column="member_email"/>
        <result property="memberCreatedDate" column="memeber_created_at"/>
        <result property="infoAddr" column="info_addr"/>
        <result property="infoZipcode" column="info_zipcode"/>
        <result property="storeApprovedDate" column="store_approved_at"/>
    </resultMap>

    <select id="getAllMembers" resultMap="memberMap">
        SELECT
               m.member_id
             , m.member_email
             , m.member_name
             , m.member_nickname
             , m.member_phone
             , m.member_gender
             , m.member_birth
             , m.member_role
             , m.created_at
             , mi.info_addr
             , mi.info_zipcode
        FROM
            tbl_member m
        JOIN tbl_member_info mi on m.member_id = mi.member_id
        WHERE m.deleted_at IS NULL
    </select>

    <select id="getAllManagers" resultMap="managerMap">
        SELECT
               s.store_id
             , s.store_name
             , s.store_tel
             , m.member_id
             , m.member_name
             , m.member_phone
             , m.member_email
             , m.created_at as "memeber_created_at"
             , mi.info_addr
             , mi.info_zipcode
             , s.approved_at as "store_approved_at"
        FROM
            tbl_member m
        JOIN tbl_store s on m.member_id = s.member_id
        JOIN tbl_member_info mi on m.member_id = mi.member_id
        WHERE 1=1
            AND m.deleted_at IS NULL
--             AND m.member_role = 'ROLE_MANAGER'
--             AND s.approved_at IS NOT NULL
    </select>

    <update id="modifyMember" parameterType="com.hyundai.domain.admin.dto.AdminMemberDTO">
        UPDATE
            tbl_member
        SET
            member_email = #{memberEmail}
          , member_name = #{memberName}
          , member_nickname = #{memberNickname}
          , member_phone = #{memberPhone}
          , modified_at = sysdate
        WHERE
            member_id = #{memberId}
    </update>

    <update id="deleteMember">
        update
            tbl_member
        set
            deleted_at = sysdate
        WHERE
            member_id = #{memberId}
    </update>

    <update id="grantAuthorization">
        {call ADMIN_MANAGE_GRANT(#{memberId, mode=IN, jdbcType=VARCHAR})}
    </update>


    <select id="searchMembers" resultMap="memberMap">
        SELECT
            m.member_id
             , m.member_email
             , m.member_name
             , m.member_nickname
             , m.member_phone
             , m.member_gender
             , m.member_birth
             , m.member_role
             , m.created_at
             , mi.info_addr
             , mi.info_zipcode
        FROM
            tbl_member m
                JOIN tbl_member_info mi on m.member_id = mi.member_id
        WHERE
            m.member_name LIKE '%' || #{word} || '%'
        AND
            m.deleted_at IS NULL
    </select>
</mapper>