<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.global.mapper.LogMapper">

    <insert id="insertLog" parameterType="map">
        INSERT INTO tbl_log
          (log_uri, log_method, log_ipaddr, log_localaddr, log_member_id, log_request_body)
        VALUES
          (#{uri}, #{method}, #{ipAddr}, #{localAddr}, #{memberId}, #{body})
    </insert>
</mapper>
