<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.global.mapper.ManagerMapper">
    <resultMap id="productMap" type="com.hyundai.domain.manager.dto.ManagerProductDTO">
    <id property="productId" column="product_id"/>
    <result property="productName" column="product_name"/>
    <result property="storeId" column="store_id"/>
    <result property="productSubName" column="product_sub_name"/>
    <result property="price" column="price"/>
    <result property="productType" column="product_type"/>
    <result property="stock" column="stock"/>
    <result property="discountRate" column="discount_rate"/>
    <result property="productDetail" column="product_detail"/>
    <result property="amount" column="amount"/>
    <result property="calorie" column="calorie"/>
    <result property="storage" column="storage"/>
    <result property="thumbnailImageUrl" column="thumbnail_image_url"/>
    <result property="createdDate" column="created_at"/>
    <result property="modifiedDate" column="modified_at"/>
    <result property="deletedDate" column="deleted_at"/>
    </resultMap>
    <!--MemberId를 통해 store_id를 불러온 후 사용-->
    <insert id="insertProduct" parameterType="com.hyundai.domain.manager.dto.ManagerProductDTO">
        {call INSERT_PRODUCT(
                #{memberId, mode=IN, jdbcType=VARCHAR},
                #{productId, mode=IN, jdbcType=INTEGER},
                #{productName, mode=IN, jdbcType=VARCHAR},
                #{productSubName, mode=IN, jdbcType=VARCHAR},
                #{price, mode=IN, jdbcType=INTEGER},
                #{productType, mode=IN, jdbcType=VARCHAR},
                #{stock, mode=IN, jdbcType=INTEGER},
                #{discountRate, mode=IN, jdbcType=INTEGER},
                #{productDetail, mode=IN, jdbcType=VARCHAR},
                #{amount, mode=IN, jdbcType=INTEGER},
                #{calorie, mode=IN, jdbcType=INTEGER},
                #{storage, mode=IN, jdbcType=INTEGER},
                #{thumbnailImageUrl, mode=IN, jdbcType=VARCHAR},
              )}
    </insert>
    <!--MemberId를 통해 store_id를 불러온 후 사용-->
    <select id="getProductByMemberId" resultMap="productMap">
        {call GET_PRODUCT_LIST_BY_MEMBER_ID(
                #{memberId, mode=IN, jdbcType=VARCHAR},
                #{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=productMap}
              )}
    </select>

    <delete id="deleteProduct">
        {call GET_PRODUCT_LIST_BY_MEMBER_ID(
                #{productId, mode=IN, jdbcType=INTEGER},
                #{memberId, mode=IN, jdbcType=VARCHAR}
              )}
    </delete>
</mapper>