<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.global.mapper.ManagerMapper">
    <resultMap id="managerProductMap" type="com.hyundai.domain.manager.dto.ManagerProductDTO">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="storeId" column="store_id"/>
        <result property="productSubName" column="product_sub_name"/>
        <result property="price" column="price"/>
        <result property="productType" column="product_type"/>
        <result property="stock" column="stock"/>
        <result property="discountRate" column="discount_rate"/>
        <result property="productDetail" column="product_detail"/>
        <result property="amount" column="amount"/>
        <result property="calorie" column="calorie"/>
        <result property="storage" column="storage"/>
        <result property="thumbnailImageUrl" column="thumbnail_image_url"/>
        <result property="createdDate" column="created_at"/>
        <result property="modifiedDate" column="modified_at"/>
    </resultMap>

    <resultMap id="orderProductMap" type="com.hyundai.domain.manager.dto.ManagerOrderProductDTO">
        <id property="orderProductId" column="orderproduct_id"/>
        <result property="orderId" column="order_id"/>
        <result property="productId" column="product_id"/>
        <result property="orderProductCount" column="order_product_count"/>
        <result property="orderProductPrice" column="order_product_price"/>
        <result property="orderProductDiscount" column="order_product_discount"/>

        <result property="memberId" column="member_id"/>
        <result property="orderDate" column="order_date"/>
        <result property="address" column="address"/>
        <result property="zipCode" column="zipcode"/>
        <result property="receiverName" column="receive_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="orderStatus" column="order_status"/>
        <result property="orderNumber" column="order_number"/>
        <result property="orderRequired" column="order_required"/>
        <result property="paymentMethod" column="payment_method"/>
    </resultMap>

    <!--MemberId를 통해 store_id를 불러온 후 사용-->
    <insert id="insertProduct" parameterType="com.hyundai.domain.manager.dto.ManagerProductDTO">
        {call MANAGER.INSERT_PRODUCT(
                #{memberId, mode=IN, jdbcType=VARCHAR},
                #{productName, mode=IN, jdbcType=VARCHAR},
                #{productSubName, mode=IN, jdbcType=VARCHAR},
                #{price, mode=IN, jdbcType=INTEGER},
                #{productType, mode=IN, jdbcType=VARCHAR},
                #{stock, mode=IN, jdbcType=INTEGER},
                #{discountRate, mode=IN, jdbcType=INTEGER},
                #{productDetail, mode=IN, jdbcType=VARCHAR},
                #{amount, mode=IN, jdbcType=INTEGER},
                #{calorie, mode=IN, jdbcType=INTEGER},
                #{storage, mode=IN, jdbcType=VARCHAR},
                #{thumbnailImageUrl, mode=IN, jdbcType=VARCHAR}
              )}
    </insert>
    <!--MemberId를 통해 store_id를 불러온 후 사용-->
    <select id="getProductByMemberId" parameterType="map" statementType="CALLABLE">
        {call MANAGER.MANAGER_GET_PRODUCTS(
                #{memberId, mode=IN, jdbcType=VARCHAR},
                #{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=managerProductMap}
              )}
    </select>
    <update id="deleteProduct" parameterType="map">
        {call MANAGER.MANAGER_DELETE_PRODUCT(
                #{productId, mode=IN, jdbcType=INTEGER},
                #{memberId, mode=IN, jdbcType=VARCHAR}
              )}
    </update>

    <insert id="addProductIngredients" parameterType="map">
        <if test="ingredientIdArray != null">
            insert into TBL_PRODUCT_INGREDIENT (product_id, ingredient_id)
            <foreach collection="ingredientIdArray" item="ingredientId" separator="UNION ALL ">
                SELECT #{productId}, #{ingredientId} FROM DUAL
            </foreach>
        </if>

    </insert>

    <insert id="addProductTheme" parameterType="map">
        <if test="themeIdArray != null">
            insert into TBL_PRODUCT_THEME (product_id, theme_id)
            <foreach collection="themeIdArray" item="themeId" separator="UNION ALL ">
                SELECT #{productId}, #{themeId} FROM DUAL
            </foreach>
        </if>
    </insert>

    <delete id="deleteProductIngTheme" parameterType="map" statementType="CALLABLE">
        { CALL MANAGER.MANAGER_DELETE_PRODUCT_ING_THEME(
                #{productId, mode=IN, jdbcType=INTEGER},
                #{ingredientId, mode=IN, jdbcType=INTEGER},
                #{themeId, mode=IN, jdbcType=INTEGER}
               ) }
    </delete>

    <select id="getOrdersByMemberId" parameterType="map" statementType="CALLABLE">
        {call MANAGER.MANAGER_GET_ORDERS(
                #{memberId, mode=IN, jdbcType=VARCHAR},
                #{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=orderProductMap}
              )}
    </select>

    <select id="getProductDetail" resultMap="managerProductMap">
        select product_id,
               product_name,
               product_sub_name,
               price,
               product_type,
               stock,
               discount_rate,
               product_detail,
               amount,
               calorie,
               storage,
               thumbnail_image_url,
               created_at
        from tbl_product
        where product_id = #{productId}
        AND deleted_at IS NULL
    </select>

    <update id="modifyProduct" parameterType="com.hyundai.domain.manager.dto.ManagerProductDTO">
        UPDATE tbl_product
        SET
            product_name = #{productName},
            product_sub_name = #{productSubName},
            price = #{price},
            stock = #{stock},
            discount_rate = #{discountRate},
            product_detail = #{productDetail},
            amount = #{amount},
            calorie = #{calorie},
            storage = #{storage},
            thumbnail_image_url = #{thumbnailImageUrl},
            created_at = #{createdAt}
        WHERE
            product_id = #{productId}
          AND deleted_at IS NULL
    </update>

    <select id="getTop5Product" parameterType="com.hyundai.domain.manager.dto.ManagerTop5ProductDTO">
    <![CDATA[
        SELECT
            op.product_id AS productId,
            op.total_sum AS sum,
        p.product_name AS productName,
        p.product_sub_name AS productSubName,
        p.price AS price,
        p.stock AS stock,
        p.THUMBNAIL_IMAGE_URL AS thumbnailImageUrl
        FROM
            (
            SELECT top.product_id,
            SUM(top.ORDER_PRODUCT_COUNT) AS total_sum
            FROM TBL_ORDERPRODUCT top
            JOIN tbl_product tp ON top.product_id = tp.product_id
            JOIN tbl_store ts ON tp.store_id = ts.store_id
            WHERE tp.deleted_at IS NULL
            AND ts.member_id = #{memberId}
            GROUP BY top.product_id
            ORDER BY total_sum DESC
            ) op
            JOIN tbl_product p ON op.product_id = p.product_id
        WHERE ROWNUM <= 5
        ]]>
</select>

</mapper>

