<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.global.mapper.MemberMapper">

    <insert id="insertMember" parameterType="Member">
        INSERT INTO tbl_member (member_id, member_email, member_role)
        VALUES (
                 #{memberId}
               , #{memberEmail, jdbcType=VARCHAR}
               , #{memberRole, jdbcType=VARCHAR}
               )
    </insert>

    <select id="findMemberByEmail" resultType="Member">
        SELECT member_id AS "memberId"
             , member_email AS "memberEmail"
             , member_name AS "memberName"
             , member_nickname AS "memberNickname"
             , member_phone AS "memberPhone"
             , member_image AS "memberImage"
             , member_gender AS "memberGender"
             , member_birth AS "memberBirth"
             , member_role AS "member_role"
             , refresh_token AS "refreshToken"
             , created_at AS "createdAt"
             , modified_at AS "updatedAt"
             , deleted_at AS "deletedAt"
        FROM   tbl_member
        WHERE  member_email = #{memberEmail}
    </select>

    <select id="findMemberByMemberId" resultType="Member">
        SELECT member_id AS "memberId"
             , member_email AS "memberEmail"
             , member_name AS "memberName"
             , member_nickname AS "memberNickname"
             , member_phone AS "memberPhone"
             , member_image AS "memberImage"
             , member_gender AS "memberGender"
             , member_birth AS "memberBirth"
             , member_role AS "member_role"
             , refresh_token AS "refreshToken"
             , created_at AS "createdAt"
             , modified_at AS "updatedAt"
             , deleted_at AS "deletedAt"
        FROM   tbl_member
        WHERE  member_id = #{memberId}
    </select>

    <select id="findMemberByRefreshToken" resultType="Member">
        SELECT member_id AS "memberId"
             , member_email AS "memberEmail"
             , member_name AS "memberName"
             , member_nickname AS "memberNickname"
             , member_phone AS "memberPhone"
             , member_image AS "memberImage"
             , member_gender AS "memberGender"
             , member_birth AS "memberBirth"
             , member_role AS "member_role"
             , refresh_token AS "refreshToken"
             , created_at AS "createdAt"
             , modified_at AS "updatedAt"
             , deleted_at AS "deletedAt"
        FROM   tbl_member
        WHERE  refresh_token = #{refreshToken}
    </select>

    <select id="getMemberList" resultType="Member">
        SELECT member_id AS "id"
             , member_email AS "email"
             , member_nickname AS "nickname"
             , member_role AS "role"
             , member_image AS "imgUrl"
             , null AS "platform"
             , created_at AS "createdDate"
             , modified_at AS "updatedDate"
             , deleted_at AS "isDeleted"
        FROM   tbl_member
    </select>

    <update id="updateMember" parameterType="Member">
        UPDATE tbl_member
        SET member_nickname = #{nickname, jdbcType=VARCHAR}
          , member_image = #{imgUrl, jdbcType=VARCHAR}
          , modified_at = sysdate
        WHERE member_id = #{id}
    </update>

    <update id="updateDeletedMember" parameterType="Member">
        UPDATE tbl_member
        SET deleted_at = null
          , member_nickname = #{nickname, jdbcType=VARCHAR}
          , modified_at = sysdate
        WHERE member_id = #{id}
    </update>

    <delete id="deleteMember" parameterType="Member">
        UPDATE tbl_member
        SET deleted_at = sysdate
          , modified_at = sysdate
        WHERE member_id = #{id}
    </delete>

</mapper>
