<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.global.mapper.ProductMapper">

    <resultMap id="map" type="com.hyundai.domain.product.dto.response.ProductResponseDTO">
        <id column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="product_sub_name" property="productSubName" />
        <result column="price" property="price" />
        <result column="product_type" property="productType" />
        <result column="stock" property="stock" />
        <result column="discount_rate" property="discountRate" />
        <result column="product_detail" property="productDetail" />
        <result column="amount" property="amount" />
        <result column="calorie" property="calorie" />
        <result column="storage" property="storage" />
        <result column="thumbnail_image_url" property="thumbnailImageUrl" />
        <result column="created_at" property="createdAt" />
        <result column="MODIFIED_AT" property="modifiedAt" />
        <result column="isLike" property="isLike" />
        <result column="theme_name" property="themeName" />
        <result column="rn" property="rn" />
    </resultMap>

    <select id="findById" statementType="CALLABLE">
        {call get_products(
                #{memberId, jdbcType=VARCHAR, mode=IN},
                #{productId, jdbcType=NUMERIC, mode=IN},
                #{productType, jdbcType=VARCHAR, mode=IN},
                #{themeName, jdbcType=VARCHAR, mode=IN},
                #{action, jdbcType=VARCHAR, mode=IN},
                #{cursor, jdbcType=CURSOR, javaType=ResultSet, mode=OUT, resultMap=map}
              )}
    </select>

    <select id="findAll" statementType="CALLABLE">
        {call CLIENT_GET_PRODUCTS(
                #{memberId, jdbcType=VARCHAR, mode=IN},
                #{themeName, jdbcType=VARCHAR, mode=IN},
                #{pageNum, jdbcType=NUMERIC, mode=IN},
                #{pageAmount, jdbcType=NUMERIC, mode=IN},
                #{sort, jdbcType=VARCHAR, mode=IN},
                #{includeSoldOut, jdbcType=NUMERIC, mode=IN},
                #{cursor, jdbcType=CURSOR, javaType=ResultSet, mode=OUT, resultMap=map}
              )}
    </select>

    <select id="findWineAll" statementType="CALLABLE">
        {call CLIENT_GET_WINES(
                #{memberId, jdbcType=VARCHAR, mode=IN},
                #{pageNum, jdbcType=NUMERIC, mode=IN},
                #{pageAmount, jdbcType=NUMERIC, mode=IN},
                #{sort, jdbcType=VARCHAR, mode=IN},
                #{includeSoldOut, jdbcType=NUMERIC, mode=IN},
                #{cursor, jdbcType=CURSOR, javaType=ResultSet, mode=OUT, resultMap=map}
              )}
    </select>

    <select id="findThemeProducts" statementType="CALLABLE">
        {call CLIENT_GET_THEMES_PRODUCTS(
                #{memberId, jdbcType=VARCHAR, mode=IN},
                #{themeName, jdbcType=VARCHAR, mode=IN},
                #{pageNum, jdbcType=NUMERIC, mode=IN},
                #{pageAmount, jdbcType=NUMERIC, mode=IN},
                #{sort, jdbcType=VARCHAR, mode=IN},
                #{includeSoldOut, jdbcType=NUMERIC, mode=IN},
                #{cursor, jdbcType=CURSOR, javaType=ResultSet, mode=OUT, resultMap=map}
              )}
    </select>


    <select id="selectProductStock" resultType="int">
        SELECT STOCK FROM tbl_product WHERE PRODUCT_ID = #{productId}
    </select>

    <update id="updateProductStock" parameterType="com.hyundai.domain.product.entity.Product">
        UPDATE tbl_product
        SET
            STOCK = GREATEST(0, STOCK - #{orderCount})
        WHERE
            PRODUCT_ID = #{productId}
    </update>
</mapper>