<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.global.mapper.ProductMapper">

    <resultMap id="map" type="com.hyundai.domain.product.dto.response.ProductResponseDTO">
        <id column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="product_sub_name" property="productSubName" />
        <result column="price" property="price" />
        <result column="product_type" property="productType" />
        <result column="stock" property="stock" />
        <result column="discount_rate" property="discountRate" />
        <result column="product_detail" property="productDetail" jdbcType="CLOB" javaType="java.lang.String" />
        <result column="amount" property="amount" />
        <result column="calorie" property="calorie" />
        <result column="storage" property="storage" />
        <result column="thumbnail_image_url" property="thumbnailImageUrl" />
        <result column="created_at" property="createdAt" />
        <result column="MODIFIED_AT" property="modifiedAt" />
        <result column="is_like" property="isLike" />
        <result column="theme_name" property="themeName" />
        <result column="rn" property="rn" />
    </resultMap>

    <resultMap id="total" type="com.hyundai.domain.product.dto.response.ProductTotalDTO">
        <result column="total_count" property="total" />
    </resultMap>

    <select id="findById" statementType="CALLABLE">
        {call get_products(
                #{memberId, jdbcType=VARCHAR, mode=IN},
                #{productId, jdbcType=NUMERIC, mode=IN},
                #{productType, jdbcType=VARCHAR, mode=IN},
                #{themeName, jdbcType=VARCHAR, mode=IN},
                #{action, jdbcType=VARCHAR, mode=IN},
                #{cursor, jdbcType=CURSOR, javaType=ResultSet, mode=OUT, resultMap=map}
              )}
    </select>

    <select id="findAll" statementType="CALLABLE">
        {call CLIENT_GET_PRODUCTS(
                #{memberId, jdbcType=VARCHAR, mode=IN},
                #{themeName, jdbcType=VARCHAR, mode=IN},
                #{pageNum, jdbcType=NUMERIC, mode=IN},
                #{pageAmount, jdbcType=NUMERIC, mode=IN},
                #{sort, jdbcType=VARCHAR, mode=IN},
                #{includeSoldOut, jdbcType=NUMERIC, mode=IN},
                #{cursor, jdbcType=CURSOR, javaType=ResultSet, mode=OUT, resultMap=map}
              )}
    </select>

    <select id="findWineAll" statementType="CALLABLE">
        {call CLIENT_GET_WINES(
                #{memberId, jdbcType=VARCHAR, mode=IN},
                #{pageNum, jdbcType=NUMERIC, mode=IN},
                #{pageAmount, jdbcType=NUMERIC, mode=IN},
                #{sort, jdbcType=VARCHAR, mode=IN},
                #{includeSoldOut, jdbcType=NUMERIC, mode=IN},
                #{cursor, jdbcType=CURSOR, javaType=ResultSet, mode=OUT, resultMap=map}
              )}
    </select>

    <select id="findThemeProducts" statementType="CALLABLE">
        {call CLIENT_GET_THEMES_PRODUCTS(
                #{memberId, jdbcType=VARCHAR, mode=IN},
                #{themeName, jdbcType=VARCHAR, mode=IN},
                #{pageNum, jdbcType=NUMERIC, mode=IN},
                #{pageAmount, jdbcType=NUMERIC, mode=IN},
                #{sort, jdbcType=VARCHAR, mode=IN},
                #{includeSoldOut, jdbcType=NUMERIC, mode=IN},
                #{cursor, jdbcType=CURSOR, javaType=ResultSet, mode=OUT, resultMap=map}
              )}
    </select>

    <select id="findProductsCount" statementType="CALLABLE">
        {call CLIENT_GET_PRODUCTS_COUNT(
                #{includeSoldOut, jdbcType=NUMERIC, mode=IN},
                #{total, jdbcType=CURSOR, javaType=ResultSet, mode=OUT, resultMap=total}
              )}
    </select>

    <select id="findWineProductsCount" statementType="CALLABLE">
        {call CLIENT_GET_WINES_COUNT(
                #{includeSoldOut, jdbcType=NUMERIC, mode=IN},
                #{total, jdbcType=CURSOR, javaType=ResultSet, mode=OUT, resultMap=total}
              )}
    </select>

    <select id="findThemeProductsCount" statementType="CALLABLE">
        {call CLIENT_GET_THEMES_PRODUCTS_WITH_COUNT(
                #{themeName, jdbcType=VARCHAR, mode=IN},
                #{includeSoldOut, jdbcType=NUMERIC, mode=IN},
                #{total, jdbcType=CURSOR, javaType=ResultSet, mode=OUT, resultMap=total}
              )}
    </select>

    <select id="selectProductStock" resultType="int">
        SELECT STOCK FROM tbl_product WHERE PRODUCT_ID = #{productId}
    </select>

    <update id="updateProductStock" parameterType="com.hyundai.domain.product.entity.Product">
        UPDATE tbl_product
        SET
            STOCK = GREATEST(0, STOCK - #{orderCount})
        WHERE
            PRODUCT_ID = #{productId}
    </update>

    <select id="findRecommendWines" resultType="com.hyundai.domain.product.dto.response.ProductResponseDTO">
        SELECT p.PRODUCT_ID as productId,
               p.PRODUCT_NAME as productName,
               p.PRODUCT_SUB_NAME as productSubName,
               p.PRICE,
               p.PRODUCT_TYPE as productType,
               p.STOCK,
               p.DISCOUNT_RATE as discountRate,
                p.PRODUCT_DETAIL as productDetail,
                p.AMOUNT,
                p.CALORIE,
                p.STORAGE,
                p.THUMBNAIL_IMAGE_URL as thumbnailImageUrl,
                p.CREATED_AT as createdAt,
                p.MODIFIED_AT as modifiedAt
        FROM tbl_product p
        WHERE p.product_type = 'wine'
    </select>

    <select id="findProductsByAgeAndGender" resultType="com.hyundai.domain.product.dto.response.ProductResponseDTO">
        SELECT p.PRODUCT_ID as productId,
               p.PRODUCT_NAME as productName,
               p.PRODUCT_SUB_NAME as productSubName,
               p.PRICE,
               p.PRODUCT_TYPE as productType,
               p.STOCK,
               p.DISCOUNT_RATE as discountRate,
               p.PRODUCT_DETAIL as productDetail,
               p.AMOUNT,
               p.CALORIE,
               p.STORAGE,
               p.THUMBNAIL_IMAGE_URL as thumbnailImageUrl,
               p.CREATED_AT as createdAt,
               p.MODIFIED_AT as modifiedAt
        FROM tbl_product p
            FETCH FIRST 6 ROWS ONLY
    </select>
</mapper>