<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.global.mapper.ReviewMapper">

    <resultMap id="reviewResultMap" type="com.hyundai.domain.review.dto.response.ReviewResponseDto">
        <id column="reviewId" property="reviewId" jdbcType="INTEGER"/>
        <result column="productId" property="productId" jdbcType="INTEGER"/>
        <result column="memberNickname" property="memberNickname" jdbcType="VARCHAR"/>
        <result column="reviewTitle" property="reviewTitle" jdbcType="VARCHAR"/>
        <result column="reviewContent" property="reviewContent" jdbcType="CLOB"/>
        <result column="reviewImageUrl" property="reviewImageUrl" jdbcType="VARCHAR"/>
        <result column="reviewStar" property="reviewStar" jdbcType="INTEGER"/>
        <result column="modifiedAt" property="modifiedAt" jdbcType="VARCHAR"/>
        <result column="pageNum" property="pageNum" jdbcType="INTEGER"/>
        <result column="pageSize" property="pageSize" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="ableReview" type="com.hyundai.domain.review.dto.response.AbleReviewProductResponseDto">
        <id column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="thumbnail_image_url" property="thumbnailImageUrl"/>
        <result column="order_date" property="orderDate"/>
    </resultMap>

    <select id="saveReview" parameterType="map" statementType="CALLABLE">
        {call manage_review(
                #{memberId, mode=IN, jdbcType=VARCHAR},
                #{productId, mode=IN, jdbcType=INTEGER},
                #{reviewTitle, mode=IN, jdbcType=VARCHAR},
                #{reviewContent, mode=IN, jdbcType=CLOB},
                #{reviewImageUrl, mode=IN, jdbcType=VARCHAR},
                #{reviewStar, mode=IN, jdbcType=VARCHAR},
                #{operation, mode=IN, jdbcType=VARCHAR},
                #{result, mode=OUT, jdbcType=INTEGER}
              )}
    </select>

    <select id="updateReview" parameterType="map" statementType="CALLABLE">
        {call manage_review(
                #{memberId, mode=IN, jdbcType=VARCHAR},
                #{productId, mode=IN, jdbcType=INTEGER},
                #{reviewTitle, mode=IN, jdbcType=VARCHAR},
                #{reviewContent, mode=IN, jdbcType=CLOB},
                #{reviewImageUrl, mode=IN, jdbcType=VARCHAR},
                #{reviewStar, mode=IN, jdbcType=VARCHAR},
                #{operation, mode=IN, jdbcType=VARCHAR},
                #{result, mode=OUT, jdbcType=INTEGER}
              )}
    </select>

    <select id="deleteReview" parameterType="map" statementType="CALLABLE">
        {call manage_review(
                #{memberId, mode=IN, jdbcType=VARCHAR},
                #{productId, mode=IN, jdbcType=INTEGER},
                null,
                null,
                null,
                null,
                #{operation, mode=IN, jdbcType=VARCHAR},
                #{result, mode=OUT, jdbcType=INTEGER}
              )}
    </select>


    <select id="getProductReviewByMemberId" resultType="ReviewResponseDto">
        SELECT
            review.review_id AS "reviewId",
            review.product_id AS "productId",
            review.member_nickname AS "memberNickname",
            review.review_title AS "reviewTitle",
            review.review_content AS "reviewContent",
            review.review_image_url AS "reviewImageUrl",
            review.review_star AS "reviewStar",
            review.modified_at AS "modifiedAt"
        FROM TABLE(fetch_reviews(
                #{memberId, jdbcType=VARCHAR},
                #{productId, jdbcType=NUMERIC},
                #{reviewType, jdbcType=VARCHAR}
                   )) review
    </select>

    <select id="getReviewsByMemberId" resultType="MyReviewResponseDto">
        SELECT r.review_id AS reviewId
             , r.product_id AS productId
             , m.member_nickname AS memberNickname
             , r.review_title AS reviewTitle
             , r.review_content AS reviewContent
             , r.review_image_url AS reviewImageUrl
             , r.review_star AS reviewStar
             , TO_CHAR(r.modified_at, 'YYYY-MM-DD HH24:MI:SS') AS modifiedAt
             , p.thumbnail_image_url AS thumbnailImageUrl
             , p.product_name AS productName
        FROM tbl_review r
                 JOIN tbl_member m ON r.member_id = m.member_id
                 JOIN tbl_product p ON r.product_id = p.product_id
        WHERE r.member_id = #{memberid}
          AND r.deleted_at IS NULL
     ORDER BY r.modified_at DESC
    </select>

    <select id="getProductReviews" resultMap="reviewResultMap">
        SELECT
            review.review_id AS "reviewId",
            review.product_id AS "productId",
            review.member_nickname AS "memberNickname",
            review.review_title AS "reviewTitle",
            review.review_content AS "reviewContent",
            review.review_image_url AS "reviewImageUrl",
            review.review_star AS "reviewStar",
            review.modified_at AS "modifiedAt"
        FROM TABLE(fetch_reviews(
                #{memberId, jdbcType=VARCHAR},
                #{productId, jdbcType=NUMERIC},
                #{reviewType, jdbcType=VARCHAR}
                   )) review
    </select>

    <select id="getProductReview" resultType="ReviewResponseDto">
        SELECT
            review.review_id AS "reviewId",
            review.product_id AS "productId",
            review.member_nickname AS "memberNickname",
            review.review_title AS "reviewTitle",
            review.review_content AS "reviewContent",
            review.review_image_url AS "reviewImageUrl",
            review.review_star AS "reviewStar",
            review.modified_at AS "modifiedAt"
        FROM TABLE(CLIENT_GET_REVIEWS(
                #{memberId, jdbcType=VARCHAR},
                #{productId, jdbcType=NUMERIC},
                #{reviewType, jdbcType=VARCHAR},
                #{pageNum, jdbcType=NUMERIC},
                #{pageSize, jdbcType=NUMERIC}
                   )) review
    </select>

    <!-- 리뷰 가능한 상품 리스트 조회 getAbleReviewProduct -->
    <select id="getAbleReviewProduct" resultMap="ableReview">
        SELECT
            p.product_id,
            p.product_name,
            p.thumbnail_image_url,
            o.order_date
        FROM
            tbl_orders o
                INNER JOIN tbl_orderproduct op ON o.order_id = op.order_id
                INNER JOIN tbl_product p ON op.product_id = p.product_id
                LEFT JOIN tbl_review r ON op.product_id = r.product_id AND o.member_id = r.member_id
        WHERE
            o.member_id = #{memberId}
          AND r.product_id IS NULL
   ORDER BY o.order_date DESC
    </select>


</mapper>
